<div class="projects-page">
    <div class="pixel-container">
    <h1 class="section-title animate-fade-in">| Trabajos |</h1>

    <div class="projects-grid">
        <div class="project-card animate-fade-in">
        <div class="project-header">
            <h2>Portafolio Pokemon</h2>
            <span class="project-year">2025</span>
            </div>
        <p class="project-desc">
            Portafolio personal con diseño pixel art inspirado en Pokemon retro con HTML, CSS y JavaScrip, con el Framework de Angular.
        </p>
            </div>
        </div>

        <div class="projects-grid">
            <div class="project-card animate-fade-in">
            <div class="project-header">
                <h2>Web la Paz</h2>
                <span class="project-year">2025</span>
            </div>
            <p class="project-desc">
                Pagina creada para facilitar la experiencai de los estudiantes de la I.E La Paz, implementando servicios de automatizazion.
            </p>
            </div>
        </div>
    </div>
</div>